//- PUG INCLUDES
include ./includes/main

//- -----------------------------------

//- Page data
- const pageData = require("./js/data/pageData.js");

//- -----------------------------------

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Surface - For Athlets And Coaches
  body.homePage
    //- Used only for the animations
    .cover

    +navigation

    header#home.header
      .container.header__container
        a(href="#").header__logo-wrapper
          +svg-logo('header__logo-svg')
          p.header__logo-brand Surface
        .header__social
          a(href="#").header__social-item
            +svg-facebook('.header__social__facebook')
          a(href="#").header__social-item
            +svg-instagram('.header__social__instagram')
          a(href="#").header__social-item
            +svg-twitter('.header__social__twitter')
        .header__main
          .header__heading
            h3.header__sub-heading.heading-tertiary= pageData.header.subHeading
            for heading in pageData.header.mainHeading
              h1.header__main-heading.heading-primary.heading-primary--wide.u-text-white= heading
            ul.header__list
              for item in pageData.header.list
                li.heading-tertiary.header__item= item
          .header__photo
            .header__photo__bg
            img(src=require(`./img/${pageData.header.img}`), alt=`${pageData.header.imgAlt}`).header__photo__img

    section#athlets.athlets
      .container.athlets__container
        .athlets__heading
          h2.heading-primary.u-text-grey-light=pageData.athlets.mainHeading
        .athlets__feature-texts
          for text, index in pageData.athlets.featureTexts
            +feature-text(text, index)
        .athlets__img
          .accent__plus
          .accent__plus
          .accent__plus.accent__plus--faded
          .accent__plus.accent__plus--faded
          .accent__line
    
    section#players.players
      .container.players__container
        .players__heading
          h2.heading-primary.u-text-grey-light=pageData.players.mainHeading
        .players__feature-texts
          for text, index in pageData.players.featureTexts
            +feature-text(text, index)
        .players__img
          .accent__plus
          .accent__plus
          .accent__plus.accent__plus--faded
          .accent__plus.accent__plus--faded
          

    section#features.features
      .container.features__container
        +feature(pageData.features[0], 'desktop')
        +feature(pageData.features)

    section#download.download
      .container.download__container
        .download__heading
          .download__logo
            +svg-logo
          h2.heading-primary.heading-primary--wide.u-text-white.download__main-heading=pageData.download.mainHeading
          h3.heading-secondary.u-text-primary-light.download__sub-heading=pageData.download.subHeading
        .download__btns
          a(href="#").btn
            +svg-appstore
            | #{pageData.download.appstoreBtn}
          a(href="#").btn
            +svg-gplay
            | #{pageData.download.googleBtn}
    
    footer.footer
      .container.footer__container
        .footer__list
          p.paragraph.u-text-white Contact Us
          span.accent__divider
          p.paragraph.u-text-white Regulations
        .footer__social
            a(href="#").header__social-item
              +svg-facebook('.header__social__facebook')
            a(href="#").header__social-item
              +svg-instagram('.header__social__instagram')
            a(href="#").header__social-item
              +svg-twitter('.header__social__twitter')
        .footer__copy
          p.caption Layout by Zhenya and Artem 
          p.caption Coding by SnovyDesigns 

      

