mixin feature(data, type)
  case type
    when 'desktop'
      .feature--desktop
        .feature--desktop__img
        .feature--desktop__text
          h3.heading-secondary.u-text-grey-dark.feature--desktop__heading
            span.caption.counter.counter--tertiary 01
            | #{data.heading}
          p.paragraph=data.paragraph
          .accent__line
    default
      for item, index in data
        .feature
          .feature__img(class=`feature__img--${index+1}`)
          .feature__container
            span.caption.counter.counter--tertiary 0#{index+1}
            h3.heading-secondary.u-text-grey-light.feature__heading=item.heading
            p.paragraph=item.paragraph
            .accent__line